<!--
<div class="row">
  <div class="col-xs-12">
    <img
        [src]="recipeItem.imgPath"
        alt="{{recipeItem.name}}"
        class="img-responsive"
        style="max-height: 50px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>name</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Shopping list</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p class="list-group-item-text">{{recipeItem.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>


-->
