<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <a *ngFor="let recipeItem of recipes" href="#" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipeItem.name}}</h4>
        <p class="list-group-item-text">{{recipeItem.description}}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="recipeItem.imgPath"
          alt="{{recipeItem.name}}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
